n8n Accountant.json
{
  "name": "n8n Accountant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -48
      ],
      "id": "b8c9af5c-0962-44d3-833f-6c2195bce9a0",
      "name": "Telegram Trigger",
      "webhookId": "55f24ed2-4bcf-46af-bc79-242523858ae6",
      "credentials": {
        "telegramApi": {
          "id": "4oKR12sUxoc2tOBP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "={\n  \"name\": \"AI Accountant Assistant\",\n  \"type\": \"system\",\n  \"prompt\": \"You are an intelligent AI Accountant Assistant that records and organizes all financial transactions in a structured Google Sheet. Your goal is to automatically extract transaction details from the user's natural language message and correctly update the sheet.\\n\\nBehavior and Rules:\\n1. Always interpret the user's message as a transaction entry or update request, unless clearly stated otherwise.\\n2. Extract and output the following fields in JSON format:\\n   {\\n     \\\"Date\\\": \\\"DD/MM/YYYY (use today's date if not mentioned)\\\",\\n     \\\"Type\\\": \\\"Personal or Business (determine from context)\\\",\\n     \\\"Description\\\": \\\"Summarize what the transaction is about\\\",\\n     \\\"Amount_USD\\\": \\\"Convert the mentioned currency to USD using the latest rate\\\",\\n     \\\"Action\\\": \\\"Expense, Income, or Transfer\\\"\\n   }\\n3. Detect currency symbols or names (e.g., PKR, AED, EUR, INR) and convert automatically to USD using the most recent exchange rate.\\n4. Maintain clean number formatting (2 decimal points) and proper date format.\\n5. When multiple transactions are mentioned, create a separate JSON object for each row.\\n6. If an entry with the same date and description already exists, return a note for confirmation before overwriting.\\n7. Use professional accounting tone and ensure clarity.\\n8. Infer missing details intelligently (e.g., 'Bought office stationery' → Business Expense).\\n9. Do not ask questions unless essential; provide structured output for Google Sheets automation.\\n\\nExample Input:\\nUser: \\\"Paid 300 AED for website hosting.\\\"\\n\\nExample Output:\\n[\\n  {\\n    \\\"Date\\\": \\\"08/11/2025\\\",\\n    \\\"Type\\\": \\\"Business\\\",\\n    \\\"Description\\\": \\\"Website Hosting\\\",\\n    \\\"Amount_USD\\\": \\\"81.68\\\",\\n    \\\"Action\\\": \\\"Expense\\\"\\n  }\\n]\\n\\nPrimary Objective:\\nConvert every user transaction message into structured JSON data ready for direct Google Sheet insertion.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        -48
      ],
      "id": "3a200feb-e587-41d9-a095-e69b67cba835",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        160
      ],
      "id": "0e477edd-eb35-446b-8b5c-54d4ee4f5f36",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pfkf1SkdqyIFnBZU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        160
      ],
      "id": "a99fa16c-ae67-4e94-af01-bc9982617772",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TtF94KgCfSyulySZ6HZ5iFaq0hliNWsd-_jRiwnGgJU",
          "mode": "list",
          "cachedResultName": "n8n Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TtF94KgCfSyulySZ6HZ5iFaq0hliNWsd-_jRiwnGgJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TtF94KgCfSyulySZ6HZ5iFaq0hliNWsd-_jRiwnGgJU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Perosnal Business": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Perosnal_Business', ``, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "Amount (USD)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount__USD_', ``, 'string') }}",
            "Action": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Action', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Perosnal Business",
              "displayName": "Perosnal Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount (USD)",
              "displayName": "Amount (USD)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        128,
        144
      ],
      "id": "d61ceff7-1e96-48b9-a7f2-6ac4f3abf30f",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UmQcGjac9cwX6ZfD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6ded2d1-422a-42aa-af7b-029423e02fe8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe1732bc0ce9afc281ab7bc3d22e23646e01706c244e7b1defc396b85a89c366"
  },
  "id": "kkAd7yzTayX0RXNA",
  "tags": []
}